

<div class="container">


    <div class="text-center">
        <h1 class="display-6">Sistema de vehículos</h1>
    </div>

    <a class="nav-link text-dark" asp-area="" asp-controller="Vehiculo" asp-action="Index">listado de vehiculos</a>

    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Vehiculo" asp-action="Create">Crear Vehiculo</a>

</div>
